/*  your css code here. If applicable */
h1{
	text-align:center;
}
td{
	width:100vw;
	border: 1px solid black;
	padding:1px;
	word-spacing:1px;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
#t-image{
	text-align:center;
}
.first{
	background-color:green;
}
.second{
	background-color:blue;
}